/*

 */

html, body {
    margin: 0;
    padding: 0;
    background:rgb(0, 0, 0);
}

.a{
    background:rgb(255, 13, 5);
}
.b{
    background:blue;
}
.c{
    background:yellow;
}

.row{
    padding: 20px;
    background: rgb(62, 59, 62);
    
}

.page-header{
    background:rgb(62, 59, 62);
    padding: 20px 20px 20px 20px;
    color: #ffffff;
}

img{
    max-width:100%;
    max-height:auto;
}

a:link, a:hover, a:visited  {
    font-weight: bold;
    color: #000000 ;
    text-decoration: none;
    
}

.row h2{
    color: white;
}

.container-fluid{
    background: black;
}

footer{
    color: white ;
}
